.main{
  width:320px;
  border: 2px solid black;
  height: 480px;
  overflow:auto;
  display:flex;
}
.sidebar{
  position:fixed;
  overflow-left:hidden;
  width:70px;
  z-index:100;
}
svg{
  position:fixed;
  overflow:hidden;
  height:80px;
  margin-top:10px;
  margin-left:50px;;
  width:100px;
}
.bookmark{
  overflow:hidden;
  height:10px;
}
.filenames{
  margin-left:70px;
  z-index:1;
  margin-top:-8px;
}
.streams{
  height: 50px;
  width: 50px;
  display:solid;
  background-color:lime;
  margin:15px -2px;
  text-align: right;
  padding-right:10px;
  line-height:40px;
} .streams:hover{
  animation:streamAni 2s 1;
  transform: translate(10px,0px);
  width: 60px;
  margin-left:-12.5px;
}
.active{
  transform: translate(10px,0px);
  animation: activeAni 5s infinite;
  width:60px;
  margin-left:-12.5px;
}
button{
  text-align: right;
  background:none;
  border:none;
} button:focus{
  outline:none;
}
@keyframes streamAni{
  0%   {box-shadow:0px 0px 20px 10px red ; margin-left: 0px}
  15%  {box-shadow:0px 0px 20px 10px blue;width:80px; margin-left: 0px;}
  100% {box-shadow:0px 0px 20px 10px red ; margin-left: -10px}
}
@keyframes activeAni {
  0%   {box-shadow:0px 0px 20px 10px red;}
  50%  {box-shadow:0px 0px 20px 10px blue;}
  100% {box-shadow:0px 0px 20px 10px red;}
}
img.cs{
  height:60px;
  margin:4px 2px;
  animation: breathingLogo 5s infinite;
}
@keyframes breathingLogo {
    0% {
        box-shadow: 0px 0px 25px white;margin:4px 4px;
    }

    50% {
        box-shadow: none; width: 65px;height: 65px;margin:0px;
    }

    100% {
        box-shadow: 0px 0px 25px white;margin:4px 4px;
    }
}
.logo{
  background-color:black;
  width:70px;height:70px;
}
.bookmark{
  z-index:-1;
  margin-top:-10px;
  height:83px;
}
.semesters{
  margin:14.62px 0px;
  margin-left:10px;
  height:40px;
  width: 210px;
  background-color: #999;
  text-align: center;
  line-height:40px;
  display:flex;
}
svg{
  width:230px;
}
.num{
  width:155px;
}
.semester {
  margin-top:20px;
}

.bars{
  width:15px;
  height:20px;
  float:left;
  margin-left:10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  z-index:-10;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-19px, -3px);
    transform: rotate(-45deg) translate(-19px, -3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -12px);
    transform: rotate(45deg) translate(-3px, -12px);
}
.streamsLogo{
  width:30px;
  height:45px;
}
.hide{
  display:none;
}
#sem1List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
}
#sem2List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
} #sem3List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
} #sem4List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
} #sem5List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
} #sem6List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
} #sem7List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
} #sem8List{
  width:208px;
  margin-left:10px;
  margin-top:-15px;
  border: 1px solid black;
  transtion:2s;
} 
